In [148]:
import pandas as pd

In [149]:
df=pd.read_csv('/config/workspace/.vscode/bs140513_032310.csv')

In [150]:
df

,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount,fraud
0,0,'C1093826151','4','M','28007','M348934600','28007','es_transportation',4.55,0
1,0,'C352968107','2','M','28007','M348934600','28007','es_transportation',39.68,0
2,0,'C2054744914','4','F','28007','M1823072687','28007','es_transportation',26.89,0
3,0,'C1760612790','3','M','28007','M348934600','28007','es_transportation',17.25,0
4,0,'C757503768','5','M','28007','M348934600','28007','es_transportation',35.72,0
...,...,...,...,...,...,...,...,...,...,...
594638,179,'C1753498738','3','F','28007','M1823072687','28007','es_transportation',20.53,0
594639,179,'C650108285','4','F','28007','M1823072687','28007','es_transportation',50.73,0
594640,179,'C123623130','2','F','28007','M349281107','28007','es_fashion',22.44,0
594641,179,'C1499363341','5','M','28007','M1823072687','28007','es_transportation',14.46,0
594642,179,'C616528518','4','F','28007','M1823072687','28007','es_transportation',26.93,0

In [151]:
df['age'].value_counts()
import pandas as pd

# Drop rows with a specific value in 'column_name'
value_to_drop = "'U'"
df = df[df['age'] != value_to_drop]
df=df.replace("'M'",1)
df=df.replace("'F'",0)
df=df.drop(['zipcodeOri','zipMerchant'],axis=1)

# Print the modified DataFrame
print(df)

        step       customer  age gender       merchant             category  \
0          0  'C1093826151'  '4'      1   'M348934600'  'es_transportation'
1          0   'C352968107'  '2'      1   'M348934600'  'es_transportation'
2          0  'C2054744914'  '4'      0  'M1823072687'  'es_transportation'
3          0  'C1760612790'  '3'      1   'M348934600'  'es_transportation'
4          0   'C757503768'  '5'      1   'M348934600'  'es_transportation'
...      ...            ...  ...    ...            ...                  ...
594638   179  'C1753498738'  '3'      0  'M1823072687'  'es_transportation'
594639   179   'C650108285'  '4'      0  'M1823072687'  'es_transportation'
594640   179   'C123623130'  '2'      0   'M349281107'         'es_fashion'
594641   179  'C1499363341'  '5'      1  'M1823072687'  'es_transportation'
594642   179   'C616528518'  '4'      0  'M1823072687'  'es_transportation'

        amount  fraud
0         4.55      0
1        39.68      0
2        26.89      0
3        17.25      0
4        35.72      0
...        ...    ...
594638   20.53      0
594639   50.73      0
594640   22.44      0
594641   14.46      0
594642   26.93      0

[593465 rows x 8 columns]

In [152]:
df['customer'] = df['customer'].str.split('C').str.get(1)
df['merchant'] = df['merchant'].str.split('M').str.get(1)

In [153]:
df['customer'] = df['customer'].str.split("'").str[0].astype(int)
df['merchant'] = df['merchant'].str.split("'").str[0].astype(int)

In [154]:
df['age']=df['age'].str.split("'").str[1].astype(int)

In [155]:
df['age']

0         4
1         2
2         4
3         3
4         5
         ..
594638    3
594639    4
594640    2
594641    5
594642    4
Name: age, Length: 593465, dtype: int64

In [156]:
df['gender']

0         1
1         1
2         0
3         1
4         1
         ..
594638    0
594639    0
594640    0
594641    1
594642    0
Name: gender, Length: 593465, dtype: object

In [157]:
df

,step,customer,age,gender,merchant,category,amount,fraud
0,0,1093826151,4,1,348934600,'es_transportation',4.55,0
1,0,352968107,2,1,348934600,'es_transportation',39.68,0
2,0,2054744914,4,0,1823072687,'es_transportation',26.89,0
3,0,1760612790,3,1,348934600,'es_transportation',17.25,0
4,0,757503768,5,1,348934600,'es_transportation',35.72,0
...,...,...,...,...,...,...,...,...
594638,179,1753498738,3,0,1823072687,'es_transportation',20.53,0
594639,179,650108285,4,0,1823072687,'es_transportation',50.73,0
594640,179,123623130,2,0,349281107,'es_fashion',22.44,0
594641,179,1499363341,5,1,1823072687,'es_transportation',14.46,0
594642,179,616528518,4,0,1823072687,'es_transportation',26.93,0

In [158]:
df['category'].value_counts()

category
'es_transportation'        504144
'es_food'                   26190
'es_health'                 16087
'es_wellnessandbeauty'      15061
'es_fashion'                 6442
'es_barsandrestaurants'      6359
'es_hyper'                   6084
'es_sportsandtoys'           3998
'es_tech'                    2363
'es_home'                    1984
'es_hotelservices'           1736
'es_otherservices'            910
'es_contents'                 881
'es_travel'                   728
'es_leisure'                  498
Name: count, dtype: int64

In [159]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['category']=le.fit_transform(df['category'])

In [160]:
le.transform(["'es_transportation'"])

array([12])

In [161]:
df
value_to_drop = "'U'"
df = df[df['gender'] != value_to_drop]

In [162]:
df['age'].value_counts()
df['gender'].value_counts()

gender
0    324565
1    268385
Name: count, dtype: int64

In [163]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
X=df.drop('fraud',axis=1)
y=df['fraud']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [164]:
rfc=RandomForestClassifier()
rfc.fit(X_train,y_train)
y_pred=rfc.predict(X_test)

NameError: name 'accuracy_score' is not defined

In [165]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.9960929814205807

In [167]:
import pickle
with open ('model.pkl','wb') as file:
    pickle.dump(rfc,file)

In [168]:
with open ('encoder.pkl','wb') as file:
    pickle.dump(le,file)